
@{
    Layout = null;
}

<!DOCTYPE html>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>
    Mvc Kamp Tablo Örneği-Kategori
</h3>
<br />
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>

    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama Yaptık</td>
        <td>True</td>
        <td><Button class="btn btn-success">Güncelle</Button></td>

    </tr>

    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama Yaptık</td>
        <td>True</td>
        <td><Button class="btn btn-success">Güncelle</Button></td>

    </tr>

    <tr>
        <td>3</td>
        <td>Kitap</td>
        <td>Açıklama Yaptık</td>
        <td>True</td>
        <td><Button class="btn btn-success">Güncelle</Button></td>

    </tr>

    <tr>
        <td>4</td>
        <td>Kitap</td>
        <td>Açıklama Yapılmadı</td>
        <td>False</td>
        <td><Button class="btn btn-success">Güncelle</Button></td>

    </tr>
</table>
<button class="btn btn-info">Yeni Kategori</button>
<button class="btn btn-warning">Kategori Listesi</button>
<button class="btn btn-danger">Kategori Açıklamaları</button>

