@using EntityLayer.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{string color = ""; string val = "Pasif yap";}

<h2>Hakkımda Veri Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Hakkımda Başlığı</th>
        <th>Aktif Yap</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutId</td>
            <td>@item.AboutDetails1</td>
            <td>
                @if (item.AboutStatus == false)
                {
                    color = "btn btn-success";
                    val = "Aktif yap";
                }
                else
                {
                    color = "btn btn-danger";
                    val = "Pasif yap";
                }
                <a href="/About/DeleteAbout/@item.AboutId" class="@color">
                    @val
                </a>
            </td>
            <td> <a href="/About/UpdateAbout/@item.AboutId" class="btn btn-warning">Düzenle</a></td>
        </tr>
    }
</table>



@Html.Action("AboutPartial", "About")